In [39]:
#Import the necessary libraries.


import pandas as pd
import numpy as np

In [48]:
#Import the first dataset cars1 and cars2.

cars1=pd.read_csv(r'C:\Users\Admin\Desktop\Jupyter Notebook\cars1.csv')
cars2= pd.read_csv(r'C:\Users\Admin\Desktop\Jupyter Notebook\cars2.csv')

In [10]:
#Oops, it seems our first dataset has some unnamed blank columns, fix cars1

cars1.dropna(how='all',axis=1, inplace= True )

In [54]:
#What is the number of observations in each dataset?

len(cars1)
len(cars2)

200

In [27]:
#Join cars1 and cars2 into a single DataFrame called cars

cars=pd.concat([cars1,cars2], axis=0)
cars.dropna(how='all',axis=1, inplace=True)

In [47]:
#Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

owners=np.random.randint(15000,73000 , size=len(cars))

In [57]:
#Add the column owners to cars
cars['owners']=owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,53309
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,53063
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,53404
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,70864
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,41222